.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 8px 10px 3px #888888;
    animation: scaledown .3s linear;
    animation-fill-mode: forwards;
}

.product:hover, .product:active {
    font-size: 150%;
    background: grey;
    animation: scale 0.3s linear;
    animation-fill-mode: forwards;
}

.product__rating {
    display: flex;
}

.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button {
    background: #f0c14b;
    border: 10px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.product__price {
    margin-top: 5px;
}

.product__info {
    
    height: 100px;
    margin-bottom: 15px;
}

@keyframes scaledown{
    0%{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100%{
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes scale{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}